---
http_interactions:
- request:
    method: get
    uri: https://api.soundcloud.com/users/3171632/favorites.json?client_id=f13cb28e3de6172c6f902085159016d8
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"56a21d7f9e91a0e5aa95ae56277e8ab5"'
    body:
      encoding: UTF-8
      string: '[{"kind":"track","id":169887935,"created_at":"2014/09/29 16:46:23 +0000","user_id":48218817,"duration":218665,"commentable":true,"state":"finished","original_content_size":9139822,"last_modified":"2014/11/05
        21:36:06 +0000","sharing":"public","tag_list":"","permalink":"lexxmatiq-zala","streamable":true,"embeddable_by":"all","downloadable":false,"purchase_url":"http://www.beatport.com/release/zala/1384368","label_id":null,"purchase_title":null,"genre":"Trap","title":"Lexxmatiq
        - Zala","description":"Buy on Beatport : http://www.beatport.com/release/zala/1384368\nBuy
        on iTunes : https://itunes.apple.com/album/zala-single/id920672683\n\nPremiered
        by @runthetrap : http://runthetrap.com/2014/09/29/premiere-lexxmatiq-zala/\n\n•••••••••••••••••••••••••••••••••••••••••••\nUnborn
        Records\nhttp://weareunborn.com\nfacebook.com/unbornrecords\ntwitter.com/unbornrecords\n@unborn\n\nLexxmatiq\nfacebook.com/djlexxmatiq\ntwitter.com/djlexxmatiq\n@djlexxmatiq\n•••••••••••••••••••••••••••••••••••••••••••\n\nSubmission
        : demo@weareunborn.com\nContact : contact@weareunborn.com","label_name":"Unborn
        Records","release":"UB014","track_type":"original","key_signature":"","isrc":"US-LZJ-14-31758","video_url":null,"bpm":null,"release_year":2014,"release_month":9,"release_day":29,"original_format":"mp3","license":"all-rights-reserved","uri":"https://api.soundcloud.com/tracks/169887935","user":{"id":48218817,"kind":"user","permalink":"unborn","username":"Unborn
        Records","last_modified":"2014/11/05 13:12:55 +0000","uri":"https://api.soundcloud.com/users/48218817","permalink_url":"http://soundcloud.com/unborn","avatar_url":"https://i1.sndcdn.com/avatars-000100617316-cwls9y-large.jpg"},"permalink_url":"http://soundcloud.com/unborn/lexxmatiq-zala","artwork_url":"https://i1.sndcdn.com/artworks-000092465589-tfqpa8-large.jpg","waveform_url":"https://w1.sndcdn.com/A8QqyPtvBKUF_m.png","stream_url":"https://api.soundcloud.com/tracks/169887935/stream","playback_count":102274,"download_count":0,"favoritings_count":4550,"comment_count":105,"attachments_uri":"https://api.soundcloud.com/tracks/169887935/attachments","policy":"ALLOW"},{"kind":"track","id":162694399,"created_at":"2014/08/11
        18:00:36 +0000","user_id":48218817,"duration":260673,"commentable":true,"state":"finished","original_content_size":10429043,"last_modified":"2014/11/05
        20:32:04 +0000","sharing":"public","tag_list":"Simeon Creaky Jackals Unborn
        Records Parisian","permalink":"simeon-creaky-jackals-get-you","streamable":true,"embeddable_by":"all","downloadable":false,"purchase_url":"http://bit.ly/UB0008","label_id":null,"purch[...]
[...]
