<div class='wrapper col-md-3'>
  <div id="sidebar-wrapper">
    <h1>Find new music</h1>
    <div>
      <h3>Recommended For You</h3>
      <h3>Most Popular</h3>
      <h3>New Additions</h3>
    </div>
  </div>
</div>
<div id="page-content-wrapper">
  <div class="page-content ">
    <div class="container user-page">
      <div class="row">
        <div class="col-md-9">
          <ul class="user-list">
          {{#each}}
          <li class='user-list-item' >
            <div class= 'user'>
            <img src='https://s3-us-west-2.amazonaws.com/tunefish/logo.jpg' class="follow-img">
              <span class='user-header'><h4>{{name}}</h4>
              Song Count: 100</span>
              <div class='follow-button'><button class='btn btn-warning'> Follow! </button></p>
              <div class="followers">Followers: 73</p>
              <table class='hidden'>
                <tr></tr>
                <td>Song</td>
                <tr></tr>
                <td>Another</td>
              </table>
            </div>
        </li>
          {{/each}}
          <ul>
        </div>
      </div>
    </div>
  </div>
</div>
