<h4>{{name}}</h4>
<ul>
  {{#each identities}}
   <li>{{provider}}</li>
   {{/each}}
 </ul>
<a href='http://127.0.0.1:3000/auth/twitter' target='_blank'>Twitter</a>
<a href='http://127.0.0.1:3000/auth/lastfm' target='_blank'>Last.fm</a>
<a href='http://127.0.0.1:3000/auth/google_oauth2' target='_blank'>Google</a>
