<div class='wrapper'>
  <div id="sidebar-wrapper">
    <div class="sidebar-nav usercard">
        USERNAME
        Youtube  | 200 videos
        Twitter  | 30 tweets
        Soundcloud | 150 songs
        Last.fm    | 20 songs
    </div>
  </div>
</div>
<div id="page-content-wrapper">
  <div class="page-content">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <!-- content of page -->
        </div>
      </div>
    </div>
  </div>
</div>
