<div class='wrapper'>
  <div id="sidebar-wrapper">
    <div class='usercard'>
      <h2>USERNAME</h2>
      <table class='account-listing'>
        <th></th>
        <tr>
          <td>Youtube</td>
          <td>100 videos</td>
        </tr>
        <tr>
          <td>Twitter</td>
          <td>20 tweets</td>
        </tr>
        <tr>
          <td>Last.fm</td>
          <td>30 songs</td>
        </tr>
        <tr>
          <td>Soundcloud</td>
          <td>80 songs</td>
        </tr>
      </table>
    </div>
    <div>
      <h3>Filter Music</h3>
        <p class='filters'><input type='checkbox'>Youtube<br>
        <input type='checkbox'>Twitter<br>
        <input type='checkbox'>Last.fm<br>
        <input type='checkbox'>Soundcloud<br></p>
    </div>
    <div>
      <h3>Tags</h3>
        
    </div>
  </div>
</div>
<div id="page-content-wrapper">
  <div class="page-content">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <!-- content of page -->
        </div>
      </div>
    </div>
  </div>
</div>
