<div class="landing-container center">
  <h1 class="landing-page-title">tunefish</h1>
  <p class="landing-page-body">
    All of your music, all in one place.
  </p>
  <p class="landing-page-body">
    Sign up with one of these providers:
  </p>
  <div class="oauth-icons-container">
    {{link-to 'Last.fm'}}
    {{link-to 'Soundcloud'}}
    {{link-to 'Twitter'}}
    {{link-to 'Google'}}
  </div>
</div>
