<div class="space">
  <div class='logo'>
    <img src='https://s3-us-west-2.amazonaws.com/tunefish/logo.jpg'>
  </div>
</div>
<div class="landing">
  <div class="row ">
  	<div class="col-md-6 col-md-offset-3 panel-default">
      <span class="center">
      <div class="landing-container">
        <h1 class="landing-page-title">All of your music,</h1>
        <h1 class="landing-page-title">All in one place.</h1>
      </div>

        <div class="oauth-icons-container">
          {{link-to 'Start with Soundcloud' 'activities' class="btn btn-warning"}}
        </div>
      </span>
    </div>
  </div>
</div>
<div class='row'>
  <div class="col-md-8">
    <div class='description-container'>
      <h2 class='description-header'>What is TuneFish?</h2>
      <p class='description-body'>
        Tunefish is here to help you stay up to date on new music from your internet-based music
        outlets like YouTube and Soundcloud.  Here's how it works in a nutshell: link up accounts
        you'd like us to track, and we'll populate an activity feed for you with relevant new music.
        You can sign up with any of the services we support, we'll never store any kind of password locally.
        Once you're registered you'll have the option to link additional accounts.
     </p>
    </div>
  </div>

  <div class='col-md-4'>
    <div class='providers-container'>
      <h2 class='description-header'>Providers</h2>
    </div>
    <div>
      <img src='https://s3-us-west-2.amazonaws.com/tunefish/soundcloud-icon.png' height='25%' width='25%'>
      <img src='https://s3-us-west-2.amazonaws.com/tunefish/256px-Youtube_icon.svg.png' height='25%' width='25%'>
      <img src='https://s3-us-west-2.amazonaws.com/tunefish/twitter-icon.png' height='25%' width='25%'>
    </div>
  </div>
</div>
