<div class="landing-container center">
  <h1 class="landing-page-title">tunefish</h1>
  <p class="landing-page-body">
    All of your music, all in one place.
  </p>
  <p class="landing-page-body">
    Sign up with one of these providers:
  </p>
  <div class="oauth-icons-container">

    <a href='http://localhost:3000/auth/twitter' target='_blank'>Twitter</a>
    <a href='http://localhost:3000/auth/soundcloud' target='_blank'>Soundcloud</a>
    <a href='http://localhost:3000/auth/lastfm' target='_blank'>Last.fm</a>
    <a href='http://localhost:3000/auth/google' target='_blank'>Google</a>
  </div>
  <div>
    {{link-to 'Users' 'users'}}
</div>
  
