<div class="landing-container center">
  <h1 class="landing-page-title">tunefish</h1>
  <p class="landing-page-body">
    All of your music, all in one place.
  </p>
  <p class="landing-page-body">
    Login with soundcloud:
  </p>
  <div class="oauth-icons-container">
    <a href='http://127.0.0.1:3000/auth/soundcloud' target='_blank'>Soundcloud</a>

  </div>
  <div>
    {{link-to 'Users' 'users'}}
</div>
