<div class="space">
  <div class='logo'>
    <img src='https://s3-us-west-2.amazonaws.com/tunefish/logo.jpg'>
  </div>
</div>
<div class="landing">
  <div class="row ">
  	<div class="col-md-6 col-md-offset-3 panel-default">
      <span class="center">
      <div class="landing-container">
        <h1 class="landing-page-title">All of your music,</h1>
        <h1 class="landing-page-title">All in one place.</h1>
      </div>

        <div class="oauth-icons-container">
          <a class="btn btn-warning" href='/activities' onclick="openAuthWindow('soundcloud')">Start with Soundcloud</a>
          <a class="btn btn-default" href='/activities' onclick="openAuthWindow('twitter')">Start with Twitter</a>
        </div>
      </span>
    </div>
  </div>
</div>
<div class='row'>
  <div class="col-md-8">
    <div>
      <h2>What is TuneFish?</h2>
      <p>Lorem ipsum dolor sit amet, eu usu omnes erroribus omittantur. Ea iriure eruditi complectitur ius. Ad laudem oporteat persecuti vim, modus iudico comprehensam eam ne. Stet senserit sapientem id vim, per oblique repudiare laboramus at, mei ut harum admodum. Docendi explicari quo cu, vidit interpretaris at eam.
Mei nisl semper legimus ea, cibo veniam nostrud ut pri, cum nihil melius scribentur cu. Ut quo dicant euismod consulatu, at vis everti nonumes legendos. Eu tantas blandit offendit mei, ius ex malorum percipitur inciderint. Meis vulputate sit te, ne meliore delicata moderatius his. Mea liber invidunt no, wisi solum cu vim.
No qui facilisis gubergren, id delectus officiis sea. Regione integre eruditi pri cu, pri at vidit lorem. Qui magna laudem et. Te mea iisque voluptua dissentias, dictas delectus id vix. Mazim errem in mel, dicat aliquando id duo.
Illud iuvaret an mel, ius ei graeci efficiantur. Ut mazim eripuit constituam est. His ea argumentum inciderint, delectus consequat id pri. Mea at facilisis dissentiunt, consul conceptam nam id, his ullum ceteros at.</p>
    </div>
  </div>

  <div class='col-md-4'>
    <div>
      <h2>Providers</h2>
    </div>
    <div>
      <img src='https://s3-us-west-2.amazonaws.com/tunefish/soundcloud-icon.png' height='25%' width='25%'>
      <img src='https://s3-us-west-2.amazonaws.com/tunefish/256px-Youtube_icon.svg.png' height='25%' width='25%'>
      <img src='https://s3-us-west-2.amazonaws.com/tunefish/twitter-icon.png' height='25%' width='25%'>
    </div>
  </div>
</div>
