<div class="modal-dialog">
  <div class="modal-content">
      <h3 class="flush--top">Name Change Modal</h5>
        {{#each}}
          {{user name}}
        {{/each}}
      <button {{action "close"}}>Done</button>
  </div>
</div>
