---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?fields=items/contentDetails/relatedPlaylists/uploads&id=UCn8zNIfYAQNdrFRrr8oibKw,UCt7YulMv6FtTkUGBWqOK9KQ,UC_R3-VJlFnDhlG_9hk-tZiQ&key=AIzaSyBL9xCOlf9VoLtOyHq78KfF7R17zsYx75k&part=contentDetails
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"PSjn-HSKiX6orvNhGZvglLI2lvk/R0Ju91eY8fudQdlGGpvnQ_SQnr4"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.01
    body:
      encoding: UTF-8
      string: |
        {
         "items": [
          {
           "contentDetails": {
            "relatedPlaylists": {
             "uploads": "UUn8zNIfYAQNdrFRrr8oibKw"
            }
           }
          },
          {
           "contentDetails": {
            "relatedPlaylists": {
             "uploads": "UUt7YulMv6FtTkUGBWqOK9KQ"
            }
           }
          },
          {
           "contentDetails": {
            "relatedPlaylists": {
             "uploads": "UU_R3-VJlFnDhlG_9hk-tZiQ"
            }
           }
          }
         ]
        }
  recorded_at: Thu, 30 Oct 2014 20:38:42 GMT
recorded_with: VCR 2.9.3
