---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/subscriptions?fields=items/snippet&key=AIzaSyBL9xCOlf9VoLtOyHq78KfF7R17zsYx75k&mine=true&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Bearer realm="https://accounts.google.com/AuthSubRequest"
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.01
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "youtube.parameter",
            "reason": "authorizationRequired",
            "message": "Unauthorized",
            "locationType": "parameter",
            "location": "mine"
           }
          ],
          "code": 401,
          "message": "Unauthorized"
         }
        }
  recorded_at: Tue, 04 Nov 2014 01:09:18 GMT
recorded_with: VCR 2.9.3
