---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/subscriptions?fields=items/snippet&key=AIzaSyBL9xCOlf9VoLtOyHq78KfF7R17zsYx75k&mine=true&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 123456
      X-Gdata-Key:
      - key=AIzaSyBL9xCOlf9VoLtOyHq78KfF7R17zsYx75k
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Bearer realm="https://accounts.google.com/AuthSubRequest", error=invalid_token
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.01
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "authError",
            "message": "Invalid Credentials",
            "locationType": "header",
            "location": "Authorization"
           }
          ],
          "code": 401,
          "message": "Invalid Credentials"
         }
        }
  recorded_at: Wed, 05 Nov 2014 20:52:48 GMT
recorded_with: VCR 2.9.3
