---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/playlistItems?key=AIzaSyBL9xCOlf9VoLtOyHq78KfF7R17zsYx75k&maxResults=5&part=snippet&playlistId=UUn8zNIfYAQNdrFRrr8oibKw
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"PSjn-HSKiX6orvNhGZvglLI2lvk/0D5fBy8_NCQkpsvEBlufispI4Uo"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.01
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#playlistItemListResponse",
         "etag": "\"PSjn-HSKiX6orvNhGZvglLI2lvk/0D5fBy8_NCQkpsvEBlufispI4Uo\"",
         "nextPageToken": "CAUQAA",
         "pageInfo": {
          "totalResults": 1319,
          "resultsPerPage": 5
         },
         "items": [
          {
           "kind": "youtube#playlistItem",
           "etag": "\"PSjn-HSKiX6orvNhGZvglLI2lvk/vw4ejSv_9lJWJ-FYgR9TJ8g-JBI\"",
           "id": "UUSn2_ptcBxeKcP9tIvV5idEqt7DnLavIB",
           "snippet": {
            "publishedAt": "2014-10-25T01:47:30.000Z",
            "channelId": "UCn8zNIfYAQNdrFRrr8oibKw",
            "title": "Casting the Pirates: Behind the Scenes of 'Fishing Without Nets' (Part 2)",
            "description": "Click here to watch the film now: http://bit.ly/Fishing-Without-Nets\n\nShot in East Africa using Somali non-actors, Fishing Without Nets tells the mesmerizing and sobering story of the pirates from the Somali point of view. First-time feature filmmaker Cutter Hodierne combines the epic cinematic vision of a glorious action-thriller with intimate, textured qualities of an art film, humanizing the pirates by bringing us inside their moral dilemmas and gut-wrenching struggles\n\nIn this second episode of our behind the scenes series,  we speak to the Somali actors about their home lives and how they came to star in a Sundance award winning film. \n\nWatch Episode 1 here: http://youtu.be/YCpm75mXUFE\n\nFollow director Cutter Hodeirne:\nTwitter: https://twitter.com/MyNameIsCUTTER\nInstagram: http://instagram.com/mynameiscutter\n\nCheck out our full video catalog: http://bit.ly/VICE-Videos\nVideos, daily editorial and more: http://vice.com\nLike VICE on Facebook: http://fb.com/vice\nFollow VICE on Twitter: http://twitter.com/vice\nRead our Tumblr: http://vicemag.tumblr.com\nFollow us on Instagram: http://instagram.com/vice",
            "thumbnails": {
             "default": {
              "url": "https://i.ytimg.com/vi/KFqbt0XAGfo/default.jpg",
              "width": 120,
              "height": 90
             },
             "medium": {
              "url": "https://i.ytimg.com/vi/KFqbt0XAGfo/mqdefault.jpg",
              "width": 320,
              "height": 180
             },
             "high": {
              "url": "https://i.ytimg.com/vi/KFqbt0XAGfo/hqdefault.jpg",
              "width": 480,
              "height": 360
             },
             "standard": {
              "url": "https://i.ytimg.com/vi/KFqbt0XAGfo/sddefault.jpg",
              "width": 640,
              "height": 480
             },
             "maxres": {
              "url": "https://i.ytimg.com/vi/KFqbt0XAGfo/maxresdefault.jpg",
              "width": 1280,
              "height": 720
             }
            },
            "channelTitle": "VICE",
            "playlistId": "UUn8zNIfYAQNdrFRrr8oibKw",
            "position": 0,
            "resourceId": {
             "kind": "youtube#video",
             "videoId": "KFqbt0XAGfo"
            }
           }
          },
          {
           "kind": "youtube#playlistItem",
           "etag": "\"PSjn-HSKiX6orvNhGZvglLI2lvk/bvviU6IcAywRr4nBPjaV1T2baPo\"",
           "id": "UUSn2_ptcBxeJ8XFtK8qBRXGrANc3Wv5LT",
           "snippet": {
            "publishedAt": "2014-10-25T01:45:56.000Z",
            "channelId": "UCn8zNIfYAQNdrFRrr8oibKw",
            "title": "The Pirate's POV: Behind the Scenes of 'Fishing Without Nets' (Part 1)",
            "description":[...]
