---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?screen_name=will_faurot
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="7bnI3yeoY0xHWBIFHVEmyRcPD", oauth_nonce="bb863e4f516a3de7914fb913f2fd7a17",
        oauth_signature="0ZgNAYMRzagU%2BtZvX7H0KvnV8pA%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1415028320", oauth_token="", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Mon, 03 Nov 2014 15:25:20 GMT
      Status:
      - 200 OK
      X-Connection-Hash:
      - 69f436699b1133e7f5c5c752525aec59
      X-Rate-Limit-Limit:
      - '300'
      X-Rate-Limit-Remaining:
      - '297'
      X-Rate-Limit-Reset:
      - '1415028366'
      X-Transaction:
      - d3fe9ca7f5d735cf
    body:
      encoding: UTF-8
      string: '[{"created_at":"Mon Nov 03 15:22:25 +0000 2014","id":529292521097416705,"id_str":"529292521097416705","text":"#tf","source":"\u003ca
        href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":1961109072,"id_str":"1961109072","name":"Will
        Faurot","screen_name":"Will_Faurot","location":"Denver","profile_location":null,"description":"old-time
        banjo player, bad at videogames, learning to program things @turingschool","url":"http:\/\/t.co\/BzbYzICJB7","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/BzbYzICJB7","expanded_url":"http:\/\/willfaurot.com","display_url":"willfaurot.com","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":61,"friends_count":362,"listed_count":1,"created_at":"Mon
        Oct 14 18:21:31 +0000 2013","favourites_count":57,"utc_offset":-14400,"time_zone":"Atlantic
        Time (Canada)","geo_enabled":false,"verified":false,"statuses_count":125,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/515875672779022336\/UdCNj6Jb_normal.png","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/515875672779022336\/UdCNj6Jb_normal.png","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"default_profile":true,"default_profile_image":false,"following":null,"follow_request_sent":null,"notifications":null},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[{"text":"tf","indices":[0,3]}],"symbols":[],"user_mentions":[],"urls":[]},"favorited":false,"retweeted":false,"lang":"und"},{"created_at":"Sat
        Nov 01 17:55:26 +0000 2014","id":528606255409922049,"id_str":"528606255409922049","text":"thanks
        to everyone who did the clojure workshop yesterday btw, that went well I thought","source":"\u003ca
        href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_sc[...]
