html, body {
  margin: 20px;
  margin-top: 5px;
}

.navbar-custom {
  background: transparent;
  border-bottom: 1px solid #eaeaea;
}

.landing-container {
  float: left;
}

.oauth-icons-container{
  margin-top: 10%;
  margin-left: 5%;
  float:left;
}

.center {
  margin-top: 20%;
}

.space {
  margin-bottom: 5%;
}

.logo {
  float: right;
}

.landing-page-title {
  color: grey;
}

.landing {
  height: 500px;
  width: 100%;
  background-image: url(https://s3-us-west-2.amazonaws.com/tunefish/webb_soundwaves.jpg);
}

.feed-page {
  height: 100%;
  width: 100%;
}

.orange {
  color: orange;
}

#sidebar-wrapper {
  width: 26%;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  padding: 15px;
  left: 0;
  top: 0;
  background: #262626;
  border-right: 2px solid orange;
  color: white;
  font-weight: 100;
}

#page-content-wrapper {
  width: 100%;
}

.usercard {
  width: 100%;
  padding: 2%;
  padding-top: 0;
}

.account-listing {
  width: 100%;
}

.filters{
  margin-left: 5%;
}

.provider-filters {
  cursor: pointer;
  margin-left: 10%;
}

.avatar{
  border-radius:50px;
  height: 70px;
  width: 70px;
  margin: 5px;
  margin-top: 0;
}

.username {
  text-align: center;
}

.music {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-style: solid;
  border-width: 1px;
}

.feed {
  overflow: auto;
}

.manage {
  font-size: 1.4em;
  display: inline-block;
}

.icon-container {
  text-align: center;
  margin-top: 7%;
}

.youtube-modal {
  padding: 3%;
  padding-top: 0;
}

.modal_body{
  padding: 3%;
  height: 100%;
  width: 100%;
}

.sub {
  float: left;
  margin: 2px;
}

.done {
  clear: both;
}

.tab-list {
  width: 50%;
  color: orange;
  border: orange;
}

a {
  color: black;
}

.nav>.nav-tabs {
  position: fixed;
}

.nav-tabs>li>a:hover {
  color: orange;
  background: none;
  border:none;
  border-color: none;
}

.nav-tabs>li>a{
  text-align: center;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
  border: none;
  border-bottom: 2px solid black;
  text-align: center;
  border-left: 2px solid orange;
  border-right: 2px solid orange;
  color: orange;
}

.provider-image{
  margin-right: 8%;
}

.table>tbody>tr>td{
  border-top: 0px;
  border-bottom: 1px solid #ddd;
}

.login-link{
  color: #FFFFFF;
}

.table {
  margin-bottom: 10px;
  display:none;
}

.table-condensed>tbody>tr>td{
  padding-right: 0px;
  padding-left: 0px;
}

#line{
  border-right: 1px solid #ddd;
  padding-left: 3px;
  margin-right: 2px;
}

.ember-view-image{
  display: inline;
}

.user-list {
  list-style-type: none;
}

.user-page {
  height: 100%;
  width: 100%;
  margin-top: 3%;
}

.user-list-item{
  height: 100px;
  margin-top: 7px;
  margin-bottom: 7px;
  margin-left: 4px;
  margin-right: 4px;
  display: inline;

}

.user {
  border: 1px solid black;
  padding: 2%;
  padding-bottom: 4%;
}

.followers {
  float: right;
}

.follow-img {
  height: 75px;
  width: 75px;
  display: inline;
  float: left;
  margin-right: 2%;
  margin-bottom: 2%;
}

.follow-button {
  float: right;
  margin-top: -30px;
}

.user-header {
  display:inline;
}

.see-more {
  color: orange;
  margin-left: 20%;
}

.see-more:hover {
  color:orange;
  text-decoration: underline;
}

/* Filters */
.youtube-filter {
  font-size: 2em;
  color: #e52d27;
}

.twitter-filter {
  font-size: 2em;
  color: #4099FF;
}

.soundcloud-filter {
  font-size: 2em;
  color: #FF6600;
}

.filter-off {
  color: white;
}
