html, body {
  margin: 20px;
}

.navbar-custom {
  background: transparent;
  border-bottom: 1px solid #eaeaea;
}

.landing-container {
  float: left;
}

.oauth-icons-container{
  margin-top: 10%;
  margin-left: 5%;
  float:left;
}

.center {
  margin-top: 20%;
}

.space {
  margin-bottom: 5%;
}

.logo {
  float: right; }
.landing-page-title {
  color: grey;
}

.landing {
  height: 500px;
  width: 100%;
  background-image: url(https://s3-us-west-2.amazonaws.com/tunefish/webb_soundwaves.jpg);
}

.orange {
  color: orange;
}


#sidebar-wrapper {
  margin-left: -250px;
  left: 250px;
  width: 20%;
  background: #D8D8D8;
  position: fixed;
  height: 100%;
  overflow-y: auto;
}

#page-content-wrapper {
  width: 100%;
}

.sidebar-nav {
  position: absolute;
  width: 20%;
}

.usercard {
  height: %;
  width: 90%;
  margin: 5%;
  border-style: solid;
  border-width: 5px;
}
