---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?fields=items/contentDetails/relatedPlaylists/uploads&id=UCn8zNIfYAQNdrFRrr8oibKw&key=AIzaSyBL9xCOlf9VoLtOyHq78KfF7R17zsYx75k&part=contentDetails
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"VWxPoEGGsFABuqUjd074WYFuSzg/EcEcaVFFDDbykk3UBGdracA9USw"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.01
    body:
      encoding: UTF-8
      string: |
        {
         "items": [
          {
           "contentDetails": {
            "relatedPlaylists": {
             "uploads": "UUn8zNIfYAQNdrFRrr8oibKw"
            }
           }
          }
         ]
        }
  recorded_at: Thu, 13 Nov 2014 01:02:02 GMT
recorded_with: VCR 2.9.3
