---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?fields=items/contentDetails/relatedPlaylists/uploads&id=UCn8zNIfYAQNdrFRrr8oibKw&key=AIzaSyBL9xCOlf9VoLtOyHq78KfF7R17zsYx75k&part=contentDetails
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"VWxPoEGGsFABuqUjd074WYFuSzg/EcEcaVFFDDbykk3UBGdracA9USw"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.01
    body:
      encoding: UTF-8
      string: |
        {
         "items": [
          {
           "contentDetails": {
            "relatedPlaylists": {
             "uploads": "UUn8zNIfYAQNdrFRrr8oibKw"
            }
           }
          }
         ]
        }
  recorded_at: Thu, 13 Nov 2014 00:59:27 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/playlistItems?fields=items/snippet/resourceId/videoId&key=AIzaSyBL9xCOlf9VoLtOyHq78KfF7R17zsYx75k&maxResults=5&part=snippet&playlistId=UUn8zNIfYAQNdrFRrr8oibKw
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"VWxPoEGGsFABuqUjd074WYFuSzg/6mBW3OnQzlcoNqG9XGY0vPey80Y"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.01
    body:
      encoding: UTF-8
      string: |
        {
         "items": [
          {
           "snippet": {
            "resourceId": {
             "videoId": "XyCu9Ao8iW0"
            }
           }
          },
          {
           "snippet": {
            "resourceId": {
             "videoId": "WSY1RbcfsGI"
            }
           }
          },
          {
           "snippet": {
            "resourceId": {
             "videoId": "EVGdmE4_h4c"
            }
           }
          },
          {
           "snippet": {
            "resourceId": {
             "videoId": "0v4tgLyas6A"
            }
           }
          },
          {
           "snippet": {
            "resourceId": {
             "videoId": "ZiNiBZiR_uA"
            }
           }
          }
         ]
        }
  recorded_at: Thu, 13 Nov 2014 00:59:29 GMT
recorded_with: VCR 2.9.3
