---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/subscriptions?fields=items/snippet&key=AIzaSyBL9xCOlf9VoLtOyHq78KfF7R17zsYx75k&maxResults=50&mine=true&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.vACqSJ_CrUClY2I8R2EUwyXuodVEILHHVAnKCib6n0tWI_rS3v2XeEIth7ItK1z4DauF8nZi1Fx-aQ
      X-Gdata-Key:
      - key=AIzaSyBL9xCOlf9VoLtOyHq78KfF7R17zsYx75k
  response:
    status:
      code: 200
      message: OK
    headers:
      Www-Authenticate:
      - Bearer realm="https://accounts.google.com/AuthSubRequest", error=invalid_token
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.01
    body:
      encoding: UTF-8
      string: |
        {
         "items": [
          {
           "snippet": {
            "publishedAt": "2014-11-12T16:56:07.000Z",
            "title": "Vevo",
            "description": "",
            "resourceId": {
             "kind": "youtube#channel",
             "channelId": "UC2pmfLm7iq6Ov1UwYrWYkZA"
            },
            "channelId": "UC_R3-VJlFnDhlG_9hk-tZiQ",
            "thumbnails": {
             "default": {
              "url": "https://yt3.ggpht.com/-hmxOepMtptM/AAAAAAAAAAI/AAAAAAAAAAA/nzePQZGAM2Y/s88-c-k-no/photo.jpg"
             },
             "high": {
              "url": "https://yt3.ggpht.com/-hmxOepMtptM/AAAAAAAAAAI/AAAAAAAAAAA/nzePQZGAM2Y/s240-c-k-no/photo.jpg"
             }
            }
           }
          },
          {
           "snippet": {
            "publishedAt": "2014-11-12T16:55:22.000Z",
            "title": "TaylorSwiftVEVO",
            "description": "",
            "resourceId": {
             "kind": "youtube#channel",
             "channelId": "UCANLZYMidaCbLQFWXBC95Jg"
            },
            "channelId": "UC[...]
