---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/subscriptions?fields=items/snippet&key=AIzaSyBL9xCOlf9VoLtOyHq78KfF7R17zsYx75k&mine=true&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.tgB0u9BuB--0T9E4Zg8TxlDKQVKeNJgF5AsT-PNDBY_Eb-9TWtaMBv_zRMJODTzdYysEq1WmFUr1AQ
      X-Gdata-Key:
      - key=AIzaSyBL9xCOlf9VoLtOyHq78KfF7R17zsYx75k
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"PSjn-HSKiX6orvNhGZvglLI2lvk/jO0WZjsKPpzQlW1XncxJJ8DqLb4"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.01
    body:
      encoding: UTF-8
      string: |
        {
         "items": [
          {
           "snippet": {
            "publishedAt": "2014-10-30T15:39:14.000Z",
            "title": "VICE",
            "description": "VICE specializes in exploring uncomfortable truths and going to places we don't belong. Herein you will find people talking frankly about their hatred and love for various things, general heresy, the only culture, travel and news documentaries you'll want to watch, tons of exclusive new stuff, and probably not a lot of cats. You're welcome.",
            "resourceId": {
             "kind": "youtube#channel",
             "channelId": "UCn8zNIfYAQNdrFRrr8oibKw"
            },
            "channelId": "UC_R3-VJlFnDhlG_9hk-tZiQ",
            "thumbnails": {
             "default": {
              "url": "https://yt3.ggpht.com/-SuohYAOTZvs/AAAAAAAAAAI/AAAAAAAAAAA/JHg2bUQ0Gjc/s88-c-k-no/photo.jpg"
             },
             "high": {
              "url": "https://yt3.ggpht.com/-SuohYAOTZvs/AAAAAAAAAAI/AAAAAAAAAAA/JHg2bUQ0Gjc/s240-c-k-no/photo.jpg"
             }
            }
           }
          },
          {
           "snippet": {
            "publishedAt": "2014-10-30T15:39:17.000Z",
            "title": "Noisey",
            "description": "Music by VICE",
            "resourceId": {
             "kind": "youtube#channel",
             "channelId": "UC0iwHRFpv2_fpojZgQhElEQ"
            },
            "channelId":[...]
