---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/playlistItems?fields=items/snippet/resourceId/videoId&key=AIzaSyBL9xCOlf9VoLtOyHq78KfF7R17zsYx75k&maxResults=5&part=snippet&playlistId=UUn8zNIfYAQNdrFRrr8oibKw
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"PSjn-HSKiX6orvNhGZvglLI2lvk/vyUufdg9FhEFrlmOihBHmhtFU4w"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.01
    body:
      encoding: UTF-8
      string: |
        {
         "items": [
          {
           "snippet": {
            "resourceId": {
             "videoId": "iMYBy_9WBl4"
            }
           }
          },
          {
           "snippet": {
            "resourceId": {
             "videoId": "-yeyy5GpLYs"
            }
           }
          },
          {
           "snippet": {
            "resourceId": {
             "videoId": "0aTpF7_igpY"
            }
           }
          },
          {
           "snippet": {
            "resourceId": {
             "videoId": "xYIBQoAfvf4"
            }
           }
          },
          {
           "snippet": {
            "resourceId": {
             "videoId": "hEBDUBiZoKI"
            }
           }
          }
         ]
        }
  recorded_at: Wed, 05 Nov 2014 20:28:25 GMT
recorded_with: VCR 2.9.3
